@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* COLOR-LIGHT */
  --bg-color: #f4f4f9;
  --bg-stripe: #f4f4f7;
  --primary-font: #F43F5E;
  --secondary-font: #0e0e0f;
  
  /* COLOR-DARK */
  --bg-color-dk: #0e0e0f;
  --bg-stripe-dk: #111111;
  --secondary-font-dk: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.stripe-bg {
  background-image: repeating-linear-gradient(
    to right, var(--bg-color), var(--bg-color) 55px, var(--bg-stripe) 55px, var(--bg-stripe) 56px 
  );
}
.dark .stripe-bg {
  background-image: repeating-linear-gradient(
    to right, var(--bg-color-dk), var(--bg-color-dk) 55px, var(--bg-stripe-dk) 55px, var(--bg-stripe-dk) 56px 
  );
}
/* Toggles font color for dark and light themes */
.font-col {
  color: var(--secondary-font);
}
.dark .font-col {
  color: var(--secondary-font-dk);
}

/* Toggles background color for dark/light themes(NOTE: used for sidebar only) */
.bg-col {
  background-color: var(--bg-color);
}
.dark .bg-col {
  background-color: var(--bg-color-dk);
}

/* Toggles button color for dark and light themes */
